# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

./main

# Output
output.json

# Configuration file
.clang-format

# Cache directory 
.ccls-cache

#project files of JetBrains IDE
.idea/

#project files of VS Code
.vscode/ 

#build artifacts
build/ 

#configuration from replit 
replit.nix

#auto-comp
Makefile